/drums/03_fastloop_machine_openFrameworks/bin/*.exe
/drums/03_fastloop_machine_openFrameworks/bin/*.exp
/drums/03_fastloop_machine_openFrameworks/bin/*.lib
/drums/03_fastloop_machine_openFrameworks/bin/*.dll
