/drums/03_fastloop_machine_openFrameworks/bin/*.exe
/drums/03_fastloop_machine_openFrameworks/bin/*.exp
/drums/03_fastloop_machine_openFrameworks/bin/*.lib
/drums/03_fastloop_machine_openFrameworks/bin/*.dll
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/*.db
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/*.opendb
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/*.db-shm
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/*.db-wal
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/5039beeab9461b87/*.ipch
/drummachines/EndlessDrumMachine01_of/*.sln
/drummachines/EndlessDrumMachine01_of/*.vcxproj
/drummachines/EndlessDrumMachine01_of/*.filters
/drummachines/EndlessDrumMachine01_of/*.user
/drummachines/EndlessDrumMachine01_of/bin/data/*.gitkeep
/drummachines/EndlessDrumMachine01_of/*.rc
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/*.suo
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/21cb8df1c1b9342a/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/4a225dbb67093db5/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/4b307e56b93f7be0/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/534e037edaf35e70/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/67690e7d1d9efa99/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/6aca9808b7960c4e/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/6e57eb1e0c6a79c0/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/72315f5e750d5ab3/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/7f8e3cb69af183f3/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/96fd68467d80d499/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/9d8f0ff1faef77e0/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/bf7e2402f452cc03/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/c120b05c6986144a/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/c1fbe97a315332c6/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/da95579690e166f9/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/e5a74f042daf7823/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/f0058fff9f6bf28d/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/f1c62c78c7775184/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/f3cdf580057a00d/*.ipch
/drummachines/EndlessDrumMachine01_of/bin/*.exe
/drummachines/EndlessDrumMachine01_of/bin/*.exp
/drummachines/EndlessDrumMachine01_of/bin/*.lib
/drummachines/EndlessDrumMachine01_of/bin/*.dll
/drummachines/EndlessDrumMachine01_of/*.aps
/drummachines/EndlessDrumMachine01_of/obj/Win32/Release/EndlessD.7FD42DF7.tlog/*.tlog
/drummachines/EndlessDrumMachine01_of/obj/Win32/Release/EndlessD.7FD42DF7.tlog/*.lastbuildstate
/drummachines/EndlessDrumMachine01_of/obj/Win32/Release/*.log
/drummachines/EndlessDrumMachine01_of/obj/Win32/Release/*.obj
/drummachines/EndlessDrumMachine01_of/obj/Win32/Release/*.res
/drummachines/EndlessDrumMachine01_of/obj/Win32/Release/*.pdb
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/9c9faeef9718ca19/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/ba7d688b234eb4c7/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/be8a1365ca09f4c4/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/cf96d4a4801915fe/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/d7632a941e022ff2/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/f248ca8db4677c6c/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/f444cd027eb20f21/*.ipch
/drummachines/EndlessDrumMachine01_of/.vs/EndlessDrumMachine01_of/v15/ipch/AutoPCH/f5b2a6946eb25a7d/*.ipch
*.ipch
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.log
*.obj
*.res
